/** HEADER **/
#header-nav {
  background-color: lightpink;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { /* Menu */
  font-family: 'Lora', serif;
  color: maroon;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

.navbar-brand:hover, .navbar-brand:focus {
  text-decoration: none;
}

#nav-list {
  margin-top: 10px;
}

#nav-list a {
  color: maroon;
  text-align: center;
}

#nav-list a:hover {
	color: maroon;
  background: whitesmoke;
}
#nav-list a span {
  font-size: 1.4em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/* END HEADER */



* {
  box-sizing: border-box;
	;
}

body {
	margin: 5px;
	padding: 5px;
	text-align: center;
	font-family: "Arial";
}
 h1 {
 	color: maroon;
 }
 #header-nav {
 	background-color: lightpink;
 }

#section1, #section2, #section3 {
	position: relative;
	overflow: hidden;
	background-color: whitesmoke;
	border: solid black;
	border-width: 5px;
	padding: 35px;
	margin: 25px;
	height: 250px;
}

p {
	text-align: center;
	font-size: 18px;
	padding: 5px;
	width: 100px;
	height: 30px;
	right: 0px;
	top: -20px;
}

#paragraph1, #paragraph2, #paragraph3 {
	position: relative;
	display: inline-grid;
	text-align: left;
	color: black;
	font-size: 14px;
}

#chicken, #beef, #sushi {
	text-align: center;
}

.row {
  width: 100%;
}

	#section1, #section2, #section3 {
		margin: 10px 30px 10px 30px;
	}
#section1 {
	margin-left: 15px;
	margin-right: 45px;
}
